<template name="Tabbed">
    <div class="tabbed-template {{ classes }}" data-tabbed-id="{{ myId }}">

        {{#if posHorizontal }}
            <div class="tabbed-consistent-height">
                {{#if posTop }}
                    <div class="tabbed-navs-encloser">
                        {{> nav (parmsSubs) }}
                    </div>
                    <div class="tabbed-panes-encloser">
                        {{> pane (parmsSubs) }}
                        {{#if haveSubPane }}
                            {{> Template.dynamic template=(parmsSubPane) data=(parmsSubData) }}
                        {{/if}}
                    </div>
                {{else}}
                    <div class="tabbed-panes-encloser">
                        {{> pane (parmsSubs) }}
                        {{#if haveSubPane }}
                            {{> Template.dynamic template=(parmsSubPane) data=(parmsSubData) }}
                        {{/if}}
                    </div>
                    <div class="tabbed-navs-encloser">
                        {{> nav (parmsSubs) }}
                    </div>
                {{/if}}
            </div>
        {{else}}
            <div class="tabbed-consistent-width">
                {{#if posLeft }}
                    <!-- {{ debugThis }} -->
                    <div class="tabbed-navs-encloser">
                        {{> nav (parmsSubs) }}
                    </div>
                    <div class="tabbed-panes-encloser">
                        {{> pane (parmsSubs) }}
                        {{#if haveSubPane }}
                            {{> Template.dynamic template=(parmsSubPane) data=(parmsSubData) }}
                        {{/if}}
                    </div>
                {{else}}
                    <div class="tabbed-panes-encloser">
                        {{> pane (parmsSubs) }}
                        {{#if haveSubPane }}
                            {{> Template.dynamic template=(parmsSubPane) data=(parmsSubData) }}
                        {{/if}}
                    </div>
                    <div class="tabbed-navs-encloser">
                        {{> nav (parmsSubs) }}
                    </div>
                {{/if}}
            </div>
        {{/if}}

    </div>
</template>
