<template name="Tabbed">
    <div class="Tabbed {{ navPosition }}  {{ navLayout }}" data-tabbed-id="{{ tabbedId }}" data-tabbed-name="{{ tabbedName }}">

        {{#if navFirst }}
            <div class="tabbed-navs-encloser">
                {{> navs (parmsSubs) }}
            </div>
        {{/if}}

        <div class="tabbed-panes-encloser">
            {{> panes (parmsSubs) }}
            {{#if haveSubPane }}
                {{> Template.dynamic template=(parmsSubPane) data=(parmsSubData) }}
            {{/if}}
        </div>

        {{#if navLast }}
            <div class="tabbed-navs-encloser">
                {{> navs (parmsSubs) }}
            </div>
        {{/if}}

    </div>
</template>
